# ===== Python y servidor =====
fastapi==0.115.2
uvicorn[standard]==0.30.6
python-multipart==0.0.9

# ===== PyTorch compatible con YOLO en Render =====
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2

# ===== IA YOLO =====
ultralytics==8.0.196
opencv-python-headless==4.8.1.78
pillow==10.4.0
numpy==1.26.4

# ===== Seguridad =====
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

# ===== Base de datos =====
sqlalchemy==2.0.23

# ===== Config =====
pydantic==2.9.2
pydantic-settings==2.6.1
python-dotenv==1.0.0

# ===== Validación =====
email-validator==2.1.0

# ===== Utilidades =====
requests==2.32.3

